<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zy.logger">

    <application>
<!--        <provider-->
<!--            android:authorities="com.zy.logger.contextprovider"-->
<!--            android:name=".LoggerInstaller"-->
<!--            android:exported="false"></provider>-->
    </application>
</manifest>